<h3>Spring Boot Assessment: Trade</h3>
<p> This project takes record of user input trades including the name of the
trade, price, volume, and buy/sell status. </p>
<p> It also includes various appropriate tests for each class. </p>
<p> You can find the link to open the UI here: 
<a href = "http://localhost:8081/swagger-ui.html#!/"> Swagger UI Link</a> </p>
<p> Hanseul </p>